@font-face {
    font-family: "alphaSlabOne";
    src: url("../AlfaSlabOne-Regular.ttf")
}

@mixin arrow($color , $size , $orientation ) {
    width: 0;
    height: 0;

    @if $orientation ==top {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
    }

    @else if $orientation ==right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }

    @else if $orientation ==down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
    }

    @else {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
    }
}


body {

    .clear {
        clear: both;
    }

    font-family: "alphaSlabOne";
    color: black;
    background-image:url(../img/fond.webp);
    font-size: 15px;

    #logo>img {
        float: left;
        width: 10rem;
        height: auto;
        opacity: 40%;
    }

    #title-flex {
        font-weight: bold;
        margin-left: 180px;


        #web {
            color: rosybrown;
        }

        h2 {
            color: white;
            background-color: black;
            border-radius: 3px;
        }

        #date_du_jour {
            color: rosybrown;
        }
    }



}

body>span:nth-child(1) {
    float: right;
    color: white;
    background-color: black;
    border-radius: 3px;

}


.container {
    display: flex;
    justify-content: space-around;

    .card {
        width: 27rem;
        border: black 1px solid;
        box-shadow: 2px 10px 15px #000000;

        h3 {
            background-color: black;
            color: white;
            border-radius: 5rem;
            text-align: center;
        }


        p {
            text-align: justify;
            margin: 0.5rem;
            color: grey;


        }


        button {
            background-color: black;
            color: white;
            float: right;
            margin-bottom: 1rem;
            border-radius: 5px;
            width: 30%;
            text-align: center;

            #triangle {
                @include arrow(white, 5px, down);
                position: relative;
                float: right;
                margin-top: 0.3rem;
            }
        }

        .text-box {
            background-color: red;
            color: white;
        }
    }




}

.box {
    float: left;
    border: white 1.5px solid;
    margin-right: 1rem;

}